{% extends 'base.html.twig' %}

{% block nav_title %}<i class="fas fa-industry"></i>&nbsp;Platform - Message Launch{% endblock %}

{% block body %}
    <div class="jumbotron">
        {{ form(form) }}
    </div>
{% endblock body %}